@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: rgb(89, 89, 89);
  font-family: "Lato", Arial, sans-serif;
}

.active-link {
  color: #F69E87;
  font-weight: 700;
}

.active-link:hover {
  color: #e6846a;
}

.form_text{
  color: rgb(94,94,94);
}

.form_text:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
  -webkit-text-fill-color: #5e5e5e !important;
}


@layer components {
  .content h1 {
    @apply text-3xl font-bold mt-6 mb-4 text-amber-800;
  }
  .content h3 {
    @apply text-[20px] font-[600] mt-5 mb-3 text-black;
  }
  .content p {
    @apply text-base font-normal leading-5 text-gray-500 mb-4;
  }

    .content p strong{
    @apply text-base font-[600] leading-5 text-gray-700 mb-4;
  }
  .content ul {
    @apply list-disc  space-y-1;
  }
    .content ul li {
    @apply text-base ml-[20px] font-normal leading-5 text-gray-500 mb-2;
  }
}
